@charset "UTF-8";

table {
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
}

thead tr {
	background-color: #0d47a1;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
}

tbody tr:nth-child(2n) {
	background-color: #bbdefb;
}

tbody tr:nth-child(2n+1) {
	background-color: #e3f2fd;
}

.buttonfam {
	margin: 10 auto;
	height: 30px;
}

.button {
	border: 1px solid gray;
	width: 120px;
	background-color: tomato;
	float: right;
	margin-left: 5%;
}

.page-num {
	display: inline;
	font-size: 20px;
}

/* .groupSearch {
	width: 100%;
	height :100px;
	margin: 10px 0px 10px 0px;
    padding: 24px 20px 20px 64px;
    border: 0;
    background: url(/resources/img/searchBack.png) no-repeat;
    line-height: 32px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.6px;
    box-sizing: border-box;
} */

#search,#category {
	background-color: #333;
	color:#fff;
    outline: none;
}

#searchBox{
  margin: 15px 0px 0px 0px;
  width: 900px;
  height: 85px;
  background-color: #333;
  border-radius: 22px;
  border: none;
  padding: 19px 24px 18px 60px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  color:#fff;
  outline: none;
  background-image: url('/resources/img/groupSearch.png');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position-x: 20px;
  background-position-y: center;  
}